@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
	width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f105;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #5858ed00;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #3c5ff998;
  }
  

/* React calendar styles */

.react-calendar {
	width: 100%;
	max-width: 100%;
	background: inherit;
  	color: inherit;
	padding: 10px;
  	border: 1px solid #99999980;
  	border-radius: 6px;
}
.react-calendar--doubleView {
	width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-calendar button {
	width: 20px;
	margin: 0;
	border: 0;
	outline: none;
}
.react-calendar button:enabled:hover {
	cursor: pointer;
}
.react-calendar__navigation {
	display: flex;
	height: 22px;
	margin-bottom: 1em;
}
.react-calendar__navigation button {
	min-width: 22px;
	background: none;
}
.react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}
.react-calendar__tile.dotted {
	color: #0056d6;
}
.react-calendar__month-view__weekdays {
	text-align: center;
	text-transform: uppercase;
	color: #717172;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5em;
	font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
	color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #cdcdcd;
}
.react-calendar__tile {
	margin: 1px 0 !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 3em 0.5em;
}
.react-calendar__tile {
	width: 30px;
	margin-inline: auto;
	padding: 5px;
	background: none;
	text-align: center;
	line-height: 16px;
	border-radius: 2px;
}
.react-calendar__tile:disabled {
	background-color: #bc9c9c;
	color: #171E22;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #a57dac;
}
.react-calendar__tile--now {
	background: #ef76ff34;
  	color: #171E22;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #ffffa9;
}
.react-calendar__tile--hasActive {
	background: #76baff;
  	color: #171E22;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}
.react-calendar__tile--active {
	background: #a57dac;
	color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background: #a57dac;
	color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #f8f8fa;
}
.react-calendar__tile--range {
	background: #c3dbff;
	color: #0056d6;
	border-radius: 0;
}
.react-calendar__tile--rangeStart {
  	border-radius: 2px;
	background: #a57dac;
	color: white;
}
.react-calendar__tile--rangeEnd {
	border-radius: 2px;
	background: #a57dac;
	color: white;
}


/* Time Picker */
.react-time-picker {
	display: inline-flex;
	position: relative;
}
.react-time-picker,
.react-time-picker *,
.react-time-picker *:before,
.react-time-picker *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-time-picker--disabled {
	background-color: #f0f0f0;
	color: #6d6d6d;
}
.react-time-picker__wrapper {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	background: #fbf9f9;
	border: 1px solid #e6dbe3;
	border-radius: 6px;
	cursor: pointer;
	padding: 7px 10px;
}
.react-time-picker__inputGroup {
	min-width: calc((4px * 3) + 0.54em * 6 + 0.217em * 2);
	flex-grow: 1;
	padding: 0 2px;
	box-sizing: content-box;
}
.react-time-picker__inputGroup__divider {
	padding: 1px 0;
	white-space: pre;
}
.react-time-picker__inputGroup__input {
	min-width: 0.24em;
	height: 100%;
	position: relative;
	padding: 0 1px;
	border: 0;
	outline: 0;
	background: none;
	font: inherit;
	box-sizing: content-box;
}
.react-time-picker__inputGroup__input::-webkit-outer-spin-button,
.react-time-picker__inputGroup__input::-webkit-inner-spin-button {
	margin: 0;
}
.react-time-picker__inputGroup__input:invalid {
	background: rgba(255, 0, 0, 0.1);
}
.react-time-picker__inputGroup__input--hasLeadingZero {
	margin-left: -0.54em;
	padding-left: calc(1px + 0.54em);
}
.react-time-picker__inputGroup__amPm {
	font: inherit;
}
.react-time-picker__button {
	border: 0;
	background: transparent;
	padding: 4px 6px;
}
.react-time-picker__button:enabled {
	cursor: pointer;
}
.react-time-picker__button:enabled:hover .react-time-picker__button__icon,
.react-time-picker__button:enabled:focus .react-time-picker__button__icon {
	stroke: #0078d7;
}
.react-time-picker__button:disabled .react-time-picker__button__icon {
	stroke: #6d6d6d;
}
.react-time-picker__button svg {
	display: inherit;
}
.react-time-picker__clock {
	width: 200px;
	height: 200px;
	max-width: 100vw;
	padding: 25px;
	background-color: white;
	border: thin solid #a0a096;
	z-index: 1;
}
.react-time-picker__clock--closed {
	display: none;
}

.video-contain video {
	object-fit: contain;
	overflow:hidden
}
textarea:focus{
	outline: none;
	border-color: none;
	box-shadow: none;
}

input:focus-visible{
	outline: none;
	border-color: none;
	box-shadow: none;
}

.video-cover video {
	position: absolute;
	object-fit: cover;

}

input[type="radio"]:checked + label span {
	background-color: #fff; 
	box-shadow: 0px 0px 0px 2px black inset;
}


input[type="radio"]:checked + label{
	color: #fff; 
}


.flying-emojis {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
	z-index: 99;
}
.emoji {
	position: absolute;
	bottom: 0px;
	left: 50%;
	font-size: 48px;
	line-height: 1;
	width: 48px;
	height: 48px;
}
.emoji.wiggle-1 {
	animation: emerge 3s forwards,
	wiggle-1 1s ease-in-out infinite alternate;
}
.emoji.wiggle-2 {
	animation: emerge 3s forwards,
	wiggle-2 1s ease-in-out infinite alternate;
}
@keyframes emerge {
to {
	bottom: 85%;
	opacity: 0;
}
}
@keyframes wiggle-1 {
from {
	margin-left: -50px;
}
to {
	margin-left: 50px;
}
}
@keyframes wiggle-2 {
from {
	margin-left: 50px;
}
to {
	margin-left: -50px;
}
}

.carousel {
	position: relative;
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.carousel-open:checked + .carousel-item {
	position: static;
	opacity: 100;
}

.carousel-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}

.carousel-item img {
	display: block;
	height: auto;
	max-width: 100%;
}

.carousel-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 30px;
	height: 35px;
	line-height: 30px;
	position: absolute;
	top: 25%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width:35px;
	z-index: 10;
}

.carousel-control.prev {
	left: 2%;
}

.carousel-control.next {
	right: 2%;
}

.carousel-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
		display: block;
}